html(lang="en")
  title= `${title}`
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  meta(charset="UTF-8")
  div.container.listing-reg

  block content
    body(style = "background-image: url('images/background.jpg'); background-repeat: no-repeat; background-attachment: fixed;")
        h4.mr-2.mt-2(style = "color:white; text-align:right; font-size:18px;")
            form(method = "POST")
                img.rounded-circle(src = `${user.profile_picture}`, class = "img-fluid", style = "height: 4%; width: 2%;") 
                span(style = "font-weight: bold; text-shadow: 1px 1px black;")   Welcome, #{user.p_name}! |
                    input(type = "hidden", name = "type", value = "logout")
                    button.btn-link(type = "submit", style = "background-color: transparent; border: none; font-weight: bold; text-shadow: 1px 1px black; color: #92B6FF;") Log out
        div.container
            div.container.justify-content-center(style = "width: 60%; margin-top: 18%; margin-left: 18%;")
                div
                    style. 
                        p{
                            color: white;
                            font-weight: bold;
                            text-shadow: 1px 1px black;
                            text-align: center;
                            font-size: 18px;
                        }
                    p How deep into your roots do you want to dig?
                    p We can suggest songs for you based on varying periods of Spotify data.
                    p We can also limit the number of suggestions you get, if you don't want to shake things up too much!
                div.col-md-8(style = "margin-left: 16%;")
                    form(method = "POST")
                        input(type = "hidden", name = "type", value = "settings")
                        p(style = "color: white; font-weight: bold; text-shadow: 1px 1px black; text-align: center; font-size: 22px;") Data Range:
                        select.form-control(id = "time_range", name = "time_range")
                            option(value = "short_term") Short Term (Last 4 weeks)
                            option(value = "medium_term") Medium Term (Last 6 months)
                            option(value = "long_term") Long Term (Several Years)
                        p.mt-3(style = "color: white; font-weight: bold; text-shadow: 1px 1px black; text-align: center; font-size: 22px;") Track Limit:
                        select.form-control(id = "limit", name = "limit")
                            -var i = 1;
                            while i < 51
                                option(value = i)= i++
                        div.container.justify-content.center.align-self-center
                            button.btn-success.mt-4(type = "submit", style = "text-align: center; border-radius:8px; margin-left: 35%; font-size: 20px;") Confirm
            
