html(lang="en")
  title= `${title}`
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/style.css')
  meta(charset="UTF-8")

  block content
    body.bg-img
        div.container-fluid.vertical-center
            div.rounded-black
                div.row
                    div.col-lg-6.vertical-center.logo-container
                        img(class="logo" src="/images/logo.png")
                    div.col-lg-6.vertical-center.hook-container
                        h1
                            | Tired of skipping song after song in your Spotify playlist?
                        p
                            | With just a few clicks, optimize your playlists for your listening tastes!
                        a(class="btn btn-success", href="spotify_auth", role="button") Login to Spotify
    
