.playlist-image {
    height:auto;
    display:flex;
    flex-flow:column nowrap;
    align-self: center;
}

.playlist-image img {
    max-width: 70%;
    padding: 3px;
    border-radius: 15px;
    margin-top: 10px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.track-list {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    /*justify-content: center;*/
}

.track-list h1{
    color: white; 
    font-weight: bold; 
    text-shadow: 1px 1px black; 
    text-align: center; 
    font-size: 32px;
}

.optimize-track-list {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    /*justify-content: center;*/
}

.track-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 100%;
}

@media screen and (min-width: 1000px) {
    .track-list{
       width: 70%; 
    }
}

.track-row {
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(20, 20, 20, 0.35);
    border-radius: 4px;
    /*justify-content: center;*/
}

.add-song {
    background-color: rgba(41, 219, 50, 0.35);
}

.remove-song {
    background-color: rgba(206, 18, 18, 0.35);
}

.track-row img {
    align-self: center;
    height: 70px;
    width: 70px;
}

.track-row span {
    margin-left: 8px;
    align-self: center;
    color: white;
    font-size: 18px;
}

.page-header {
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-shadow: 2px 2px black;
    text-align: center;
    font-size: 24px;
}

.playlist-title {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;
    text-align: center;
    font-size: 28px;
}

.explanation-text {
    color: rgb(221, 221, 221);
    font-weight: bold;
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: 18px;
}